nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    gap: 15px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: 0.3s;
}

.nav-menu a:hover {
    background-color: #55ff80;
    color: black;
    border: 1px solid #55ff80;
}


/* 📱 Phone */
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    .nav-menu {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
}